@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
    scroll-behavior: smooth;
}
/* img{
    width: 100%;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: #B9C0DA;
    width: 100%;
    top: 2%;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(to left, #6e5a51, #4d4528);
    border-radius: 24px;
    padding: 5px 0px;   
    
}
li img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 5%;
    list-style: none;
}

.home{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.home>li>a{
    text-decoration: none;
    color: #509fdf;
}


 /* end nav  */


 .hero{
     background-image: url("/images/bg.webp");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 700px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     color: #C4E7D4;
     font-size: 64px;
     text-align: center;
     position: relative;
     overflow: hidden;
    }
    
.star-1 , .star-2{
    width: 48px;
    height: 48px;
    transform: rotate(45deg); 
}
    
.star-1{
    position: absolute;
    top: 30%;
    left: 28%;
    animation: star-1 2s ease-in-out; 
}
@keyframes star-1 {
    0%{
        left: -20%;
        opacity: 0;
    }
    30%{
        left: 10%;
        opacity: 0;
        transform: rotate(360deg); 
    }
    100%{
        left: 28%;
        
        
    }
}
.star-2{
    position: absolute;
    bottom: 30%;
    right: 32%;
    animation: star-2 2s ease-in;
}

@keyframes star-2 {
    0%{
        bottom: -20%;
        opacity: 0;
    }
    30%{
        bottom: 10%;
        opacity: 0;
        transform: rotate(360deg); 
    }
    100%{
        bottom: 30%;
    }
}

.coffee{
    animation: coffee 2s ease-in;
    position: absolute;
    top: 25%;
    left: 32%;
}
.shop{
    animation: shop 2s ease-in;
    position: absolute;
    right: 35%;
}
@keyframes coffee {
    0%{
        top: -20%;
        opacity: 0;
    }
    30%{
        top: 15%;
        opacity: 0;
    }
    100%{
        top: 25%;
    }
}

@keyframes shop  {
    0%{
        right: -20%;
        opacity: 0;
    }
    30%{
        right: 20%;
        opacity: 0;
    }
    100%{
        right: 35%;
    }
}

/* hero end */


/* 3rd section  */

.about-us {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 650px;
    background: linear-gradient(to left, #c5886e, #695f42);
    color: #DEDBD8;
    padding: 20px;
}

.au-img> img{
    width: 100%;
    height: 100%;
}
.coffee-img{
    border-radius: 8% ;
}

.au-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5%;
    padding: 5%;
}

.au-txt>p{
    font-size: 20px;
}

/* our team  */
.team{
    height: fit-content;
    background: linear-gradient(to left, #c5886e, #695f42);
    color: #B9C0DA;
}
.team>h1{
    text-align: center;
    color: #B9C0DA;
    font-size: 52px;
    padding: 50px;
}

.member>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #533745;
}
.our-team{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
}

.member{
    text-align: center;
    font-size: 20px;
}

/* end member  */


/* bean section  */

.beans{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: linear-gradient(to left, #c5886e, #695f42);
    padding: 80px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #B9C0DA;

}

.card1, .card2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card1>img, .card2>img{
    width: 280px;
    height: 280px;
    border-radius: 12px;
}
.txt>h1{
    text-align: center;
    font-size: 70px;
    padding: 20px;

}

.card1>p, .card2>p{
    text-align: center;
}
/* bean section end  */

/* menu  */
.our-menu{
    background: linear-gradient(to left, #c5886e, #695f42);
    padding: 50px;
    color: #B9C0DA;
}
.our-menu>h1{
    text-align: center;
    font-size: 54px;
    padding: 50px;
}
.our-menu>p{
    text-align: center;
    font-size: 24px;
    padding: 30px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards>h2{
    font-size: 34px;
}
.cards>img{
    width: 330px;
    height: 320px;
    border-radius: 12px;
}


/* our places */

.our-place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #c5886e, #695f42);
    flex-wrap: wrap;
    
}

.our-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 5%;
    width: 50%;

}
.our-txt>h1{
    color: #B9C0DA;
    font-size: 52px;
    text-align: center;
    
}
.our-txt>p{
    font-size: 24px;
    text-align: center;
    color: antiquewhite;
}
.places{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 0px 20px;
}


.place-1>img{
    width: 300px;
    border-radius: 12px;
}
.place-2>img{
    width: 300px;
    border-radius: 12px;
}
.place-3>img{
    width: 620px;
    border-radius: 12px;
}

/* end  */

.footer{
    background-color: #312628;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    align-items: center;
    gap: 20px;
}
.footer>div{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    gap: 20px;
}

.footer> div> img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.4s linear;
}